* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  padding: 100px;

  background: #fff1e2;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 50px 0px 73px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  position: relative;
  max-width: 80%;
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  list-style: none;
}

header ul li a {
  display: inline-block;
  color: #4b7078;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}
.menu {
  margin-top: 95px;
  text-align: center;
  padding: 20px;
}

.menu h3 {
  color: #4b7078;
  font-size: 60px;
  line-height: 1.4em;
  font-weight: 500;
}

.menu h4 {
  font-size: 40px;
  color: #5ea9bd;
  line-height: 1.4em;
  font-weight: 600;
}
.description {
  color: rgb(190, 103, 116);
  margin-top: 10px;
  font-size: 17px;
  line-height: 1.4em;
  font-weight: 400;
}

.shop-container {
  margin-top: 60px;
  display: flex;

  align-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.menu .box-container .box {
  text-align: center;
}
.menu .box-container .box img {
  width: 100%;

  margin-bottom: 1rem;
}
.menu .box-container .box h3 {
  font-size: 15px;
  color: #4b7078;
}

.box {
  cursor: pointer;
}

.box {
  position: relative;
}

.drink-image {
  display: block;
  width: 100%;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: rgb(190, 103, 116);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay--blur {
  backdrop-filter: opacity(5px);
}

.image__overlay--primary {
  background: #fff0e2;
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 0.75;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__title {
  font-size: 25px;
  font-weight: bold;
}

.image__description {
  font-size: 20px;
  margin-top: 0.25em;
  text-align: center;
  list-style: none;
}

ul {
  text-align: center;
  list-style: none;
}
.fa-brands {
  color: #4b7078;
}
.fa-brands:hover {
  transform: translateY(-5px);
}

.sci {
  display: flex;
  margin: 10px;
  justify-content: center;
}
li {
  padding: 5px;
}

.sci li a {
  display: inline-block;
  margin: 10px 0;
  font-size: 50px;
  padding: 10px;
}

.sci li a {
  transform: translateY(-5px);
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fce4e1;
  clip-path: circle(700px at right 600px);
}

.coded-by {
  text-align: center;
  padding-top: 20px;
  color: #dbb4b1;
  background-color: #fff0e2;
  margin-top: -100px;
}

@media (max-width: 991px) {
  header {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 0px 40px 0px 42px;
  }
  .logo img {
    margin-top: 10px;
    height: 140px;
    width: 140px;
    margin-left: -22px;
  }
  header ul {
    display: none;
  }
  .toggle {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(images/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 11;
  }
  .toggle.active {
    position: fixed;
    right: 20px;
    background: url(images/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
  }
  header ul.navigation.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff1e2;
    z-index: 10;
  }
  header ul li a {
    color: #4b7078;
    font-size: 1.5em;

    margin: 5px 0;
  }
  .content .imgBox img {
    max-height: 250px;
    max-width: 250px;
  }
  .shop-container {
    margin: 39px -18px 50px -18px;
  }
  .menu h3 {
    font-size: 49px;
    line-height: 44px;
    padding-bottom: 13px;
  }
  .menu h4 {
    font-size: 25px;
    line-height: 28px;
  }
  section {
    padding: 30px 15px 9px;
  }
  section.shop {
    margin-bottom: 75px;
  }
  .fa-brands {
    font-size: 30px;
  }
  .coded-by {
    font-size: 13px;
  }
  a.shop-one {
    height: 307px;
  }
  img.shop-two {
    margin-top: -27px;
    margin-bottom: -200px;
  }
  .coded-by {
    margin-top: -85px;
    font-size: 11px;
  }
  .drink-image {
    padding: 10px 10px 10px 10px;
    max-width: 80%;
    height: auto;
    margin: 0 auto;
  }
  .image__title {
    font-size: 16px;
  }
  .image__description {
    font-size: 14px;
  }
}
