* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: #fff1e2;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 50px 0px 73px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  position: relative;
  max-width: 80%;
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  list-style: none;
}

header ul li a {
  display: inline-block;
  color: #4b7078;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}
.menu {
  margin-top: 270px;
  text-align: center;
  font-size: 40px;
  color: #4b7078;
  padding: 20px;
}
.popular {
  color: #4b7078;
  font-size: 60px;
  line-height: 1.4em;
  font-weight: 500;
}

.choice {
  font-size: 1em;
  color: #65a4b6;
  line-height: 1.4em;
  font-weight: 600;
}
.description {
  color: rgb(190, 103, 116);
  margin-top: 10px;
  font-size: 17px;
  line-height: 1.4em;
  font-weight: 400;
}

h3 {
  margin-top: -40px;

  color: #e8a49b;
}

h4 {
  font-size: 12px;
  color: #e8a49b;
}

.all-drinks-container {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 13rem);
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
  font-size: 8px;
}
.menu .box-container .box {
  text-align: center;
}
.menu .box-container .box img {
  width: 77%;

  margin-bottom: 1rem;
}
.menu .box-container .box h3 {
  font-size: 15px;
  color: #4b7078;
}

.box {
  cursor: pointer;
}

.box {
  position: relative;
}

.drink-image {
  display: block;
  width: 100%;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: rgb(190, 103, 116);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay--blur {
  backdrop-filter: opacity(5px);
}

.image__overlay--primary {
  background: #fff0e2;
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 0.75;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__title {
  font-size: 2.5em;
  font-weight: bold;
}

.image__description {
  font-size: 2em;
  margin-top: 0.25em;
}
.footer {
  color: #80babb;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 15px;
  opacity: 80%;
}
.coded-by {
  text-align: center;

  color: #dbb4b1;
  background-color: #fff0e2;
}

@media (max-width: 991px) {
  header {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 0px 40px 0px 42px;
  }
  .logo img {
    margin-top: 10px;
    height: 140px;
    width: 140px;
    margin-left: -22px;
  }
  header ul {
    display: none;
  }
  .toggle {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(images/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 11;
  }
  .toggle.active {
    position: fixed;
    right: 20px;
    background: url(images/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
  }
  header ul.navigation.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff1e2;
    z-index: 10;
  }
  header ul li a {
    color: #4b7078;
    font-size: 1.5em;
    margin: 5px 0;
  }
  h3 {
    margin-top: -103px;
  }
  .popular {
    font-size: 37px;
  }
  .choice {
    font-size: 23px;
  }
  .description {
    font-size: 16px;
  }
  .all-drinks-container {
    max-width: 100%;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 11rem);
    gap: 0.25rem;
  }
  .menu .box-container .box img {
    width: 74%;
    margin: 0 auto;

    margin-bottom: 1rem;
  }
  .menu {
    padding: 7px;
    padding-bottom: 1px;
  }
  p.image__description {
    font-size: 1.5em;
  }
  .coded-by {
    text-align: center;
    font-size: 13px;
    color: #dbb4b1;
    background-color: #fff0e2;
    margin-top: -35px;
  }
}
